@model IPagedList<Department>
@using PagedList;
@using PagedList.Mvc;
@using MvcContrib.UI.Grid;
@using Tavi.Demo.G2.Models;
@using Tavi.Demo.G2.HtmlEx;
@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Danh sách sinh viên
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header" id="formview">
                        <div>
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("Page")
                                <div class="form-group">
                                    <div class="form-search">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.TextBox("DepartmentName", ViewBag.StudentCode as String, new { @class = "form-control", @placeholder = "Nhập tên khoa" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.Button("Tìm kiếm", "btn btn-primary", "btnTimKiem", "fa fa-search-plus")

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-button">
                                        @Html.Button("Thêm mới", "btn btn-primary", "btnAdd", "fa fa-plus")
                                        @Html.Button("Xóa", "btn btn-danger", "btnDel", "fa fa-trash-o")
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table table-bordered table-striped">
                                        @Html.Grid(Model).Columns(column =>
                                   {
                                       column.For(m => Html.htmlCheckBox("cbxItem", m.DepartmentID)).Named(Html.htmlCheckBox("cbxList").ToString()).Attributes(style => "width:5%");
                                       column.For(m => Html.ActionLink(m.DepartmentName, "Add", new { id = m.DepartmentName })).Named("Tên khoa").Attributes(style => "width:15%");                                    
                                       column.For(m => m.Status == true ? "Còn sử dụng" : "Không sử dụng").Named("Trạng thái").Attributes(style => "width:20%");
                                       column.For(m => Html.Raw("<div class='btn-group'>" + "<button type='button' class='btn btn-default btn-sm', name = '" + m.DepartmentID + "', id = 'btnDelete'><i class='far fa-trash-alt'></i></button>"

                                           + "<a type='button' class='btn btn-default btn-sm' href = '/Department/Add/" + m.DepartmentID + "'><i class='far fa-edit'></i></a>"
                                           + "</div>")
                             ).Named("Chức năng").Attributes(style => "width:1%");
                                   }).Empty("Chưa có dữ liệu sinh viên")
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.PagedListPager(Model, PageCurrent => @Url.Action("Index", new { PageCurrent = PageCurrent, StudentCode = ViewBag.DepartmentName}), PagedListRenderOptions.PageNumbersOnly)
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section jsFooter{
    <script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#btnTimKiem').click(function () {
            $("#formview form").submit();
        });
        $('#btnDel').click(function () {
            var checked = $("input:checked[name='cbxItem']");
            if (checked.length > 0) {
                $("#formview form").attr('action', '@Url.Action("Delete")');
                $("#formview form").submit();
            } else {
                alert("Bạn phải chọn sinh viên cần xóa");
            }

        });

        $('#Create').click(function () {
            window.location = '@Url.Action("Add")';
        });
         $('#btnAdd').click(function () {
            window.location = '@Url.Action("Add")';
         });
         $('#btnDelete').click(function () {
           window.location = '@Url.Action("Recycle")';
        });

    });
    </script>
}






